@{
    ViewData["Title"] = "Главная страница сайта";
}

<h1>Добро пожаловать на сайт!</h1>
<p>Отправьте сообщение через <a asp-controller="Contacts" asp-action="Index"> Форма для обратной связи</a></p>
